extends layout

block content
	div.container
		div.row.sheql-head
			div.logo-block.col-xs-12
				img(src='/images/scheql.png')
		form#sheql-querybox.row
			div.col-xs-12
				input#query.form-control(type='text', placeholder='scheQL to execute')
		div.row
			div#fc-container.col-xs-12
	script(src='/bower_components/underscore/underscore.js')
	script(src='/bower_components/momentjs/moment.js')
	script(src='/bower_components/twix/bin/twix.js')
	script(src='/javascripts/sheql-date-prototype-extension.js')
	script(src='/javascripts/sheql-lexer.js')
	script(src='/javascripts/sheql-tree-builder.js')
	script(src='/javascripts/sheql-main.js')
	script(src='/helper.js')