extends layout

block content
	div.container
		div.row.sheql-head
			div.logo-block.col-xs-12
				img(src='/images/scheql.png')
		form#sheql-querybox.row
			div.col-xs-12
				input#query.form-control(type='text', placeholder='scheQL to execute')
		div.row
			div#fc-container.col-xs-12
	script(src='/helper.js')